h1 {
  color: white;
  background-color: black;
}

.tic-tac-toe-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  height: 50px;
  width: 50px;
  background-color: grey;
  font-size: 40px;
  text-align: center;
}
