h1 {
  color: white;
  background-color: black;
}

.board-rows {
  display: flex;
}

.board-square {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  background-color: #8080806e;
  margin: 2px;
}
